{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestion tickets</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static "vendors/feather/feather.css" %}">
  <link rel="stylesheet" href="{% static "vendors/ti-icons/css/themify-icons.css" %}">
  <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.base.css" %}">
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static "css/vertical-layout-light/style.css" %}">
  <link rel="stylesheet" href="{% static "css/Mystyle.css" %}">
  <!-- endinject -->
  <!--link rel="shortcut icon" href="images/favicon.png" /-->

</head>

<body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-6 mx-auto" >
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo" style="margin-left:150px; margin-top:-30px">
                  <img src="{% static "images/uadb.png" %}" alt="logo">
                </div>
                
                <div class="pt-3 text-center font-weight-bold">
                    <p style="margin-left:40px; padding-bottom:12px; margin-top:-10px ">Des instructions pour réinitialiser votre mot de passe ont été envoyées à votre adresse email si elle est associée à un compte existant.<p>
                    <p style="margin-left:40px; padding-bottom:12px; margin-top:-10px ">Si aucun courriel reçu, vérifiez l'adresse email d'inscription et le dossier spam.<p>
                    
                </div>
            </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
 <!-- plugins:js -->
 <script src="{% static "vendors/js/vendor.bundle.base.js" %}"></script>
 <!-- inject:js -->
 <script src="{% static "js/off-canvas.js" %}"></script>
 <script src="{% static "js/hoverable-collapse.js" %}"></script>
 <script src="{% static "js/template.js" %}"></script>
 <script src="{% static "js/settings.js" %}"></script>
 <script src="{% static "js/todolist.js" %}"></script>
 <!-- endinject -->

</body>
</html>  