{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" href="#"><img src="{% static "images/uadb.png" %}" class="mr-2" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="#"><img src="{% static "images/uadb.png" %}" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
     
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="{% static "images/Avatar.jpg" %}" alt="profile"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="fa-solid fa-user text-primary"></i>
              <span class="ml-2">Profil</span>
            </a>
            <a href="{% url 'deconnected_etudiant' %}" class="dropdown-item z-50"  >
              <i class="ti-power-off text-primary"></i>
              Déconnecter
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
{% endblock  %}


{% block contenu %}
<!--Contenu Principal-->    

<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Informations personnelle</p>

        <div class="container ">
          <div class="row mb-3">
              <div class="col-6">
                  <p class="text-muted">Prénom</p>
              </div>
              <div class="col-6">
                  <p class="text-muted">{{ etudiant.first_name }}</p>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-6">
                  <p class="text-muted">Nom</p>
              </div>
              <div class="col-6">
                  <p class="text-muted">{{ etudiant.last_name }}</p>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-6">
                  <p class="text-muted">Code Permanant</p>
              </div>
              <div class="col-6">
                  <p class="text-muted">{{ etudiant.identifiant }}</p>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-6">
                  <p class="text-muted">Email</p>
              </div>
              <div class="col-6">
                  <p class="text-muted">{{ etudiant.email }}</p>
              </div>
          </div>
          
          <div class="row mb-3 pt-5 ml-4">
            <a href="{% url 'passwordchanged_etudiant' etudiant.id %}" class="btn btn-info rounded-1" style="padding:8px">Changer mon mot de passe</a>
         </div>

      </div>
      
      </div>
    </div>
  </div>

  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
       <div class="d-flex justify-content-between">
        <p class="card-title">QRCode</p>
        
       </div>

       {% if messages %}
       {% for message in messages %}
           {% if message.tags == 'success' %}
               <div class="alert alert-success border-0 rounded  message" role="alert">
                   {{ message }}
               </div>
           {% endif %}
       {% endfor %}
       {% endif %}

       <div class="text-center">
        <img src="{{ etudiant.code_qr_img.url }}?{% now 'U' %}" alt="QR Code" class="img-fluid" style="max-width: 200px; cursor: pointer;" data-toggle="modal" data-target="#qrCodeModal">

        <form class="pt-4" action="{% url 'etudiant_change_qrcode' etudiant.id %}" method="POST"> 
          {% csrf_token %}
          <button type="submit" class="btn btn-info btn-rounded btn-fw" style="padding:8px">Changer mon QRCode</button>
        </form>
      </div>

      <div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="qrCodeModalLabel">QRCode</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <img src="{{ etudiant.code_qr_img.url }}?{% now 'U' %}" alt="QR Code" class="img-fluid" style="max-width: 300px;">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>  

      </div>
    </div>
  </div>
  
</div>

<script>
  // Sélectionnez tous les éléments de classe 'message'
  const messages = document.querySelectorAll('.message');

  // Masquer chaque message après 5 secondes
  messages.forEach(message => {
      setTimeout(() => {
          message.style.display = 'none';
      }, 5000);  // 5000 millisecondes = 5 secondes
  });

</script>

{% endblock %}
