{% extends "base.html" %}
{% load static %}





{% block navbar %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" href="#"><img src="{% static "images/uadb.png" %}" class="mr-2" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="#"><img src="{% static "images/uadb.png" %}" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav mr-lg-2">
        <li class="nav-item nav-search d-none d-lg-block">
          <div class="input-group">
            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
              <span class="input-group-text" id="search">
                <!--i class="icon-search"></i-->
              </span>
            </div>
            <!--input type="text" class="form-control" id="navbar-search-input" placeholder="Recherche" aria-label="search" aria-describedby="search"-->
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="{% static "images/Avatar.jpg" %}" alt="profile"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a href="{% url 'detail_etudiant' request.user.id %}" class="dropdown-item">
              <i class="fa-solid fa-user text-primary"></i>
              <span class="ml-2">Profil</span>
            </a>
            <a href="{% url 'deconnected_etudiant' %}" class="dropdown-item z-50"  >
              <i class="ti-power-off text-primary"></i>
              Déconnecter
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  
  {% endblock %}

              


{% block contenu %}

<div class="row">
  <div class="col-12  stretch-card" style="margin-bottom: 14px">
    <div class="card" style="border-top: 20px solid #4B49AC; padding: 20px;">
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-title">Mes différents Achat</h4>
            <div class="template-demo">
              {% if tickets_achat %}
              {% for ticket_achat in tickets_achat%}
              <span class="font-weight-normal text-info" style="font-size:12px;"> {{ticket_achat.date_created}}</span>
              <p class="card-description"> {{ticket_achat.description}} </p>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-title">Tickets Reçus</h4>
            <div class="template-demo">
              {% if tickets_recept %}
              {% for ticket_recept in tickets_recept %}
              <span class="font-weight-normal text-info" style="font-size:12px;"> {{ticket_recept.date_created}}</span>
              <p class="card-description"> {{ticket_recept.description}} </p>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 380px; margin-top:0px;">
  <div class="col-12 grid-margin stretch-card" >
    <div class="card" >
      <div class="row">
        <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-title">Tickets Envoyés</h4>
            <div class="template-demo">
              {% if tickets_envoi %}
              {% for ticket_envoi in tickets_envoi %}
              <span class="font-weight-normal text-info" style="font-size:12px;"> {{ticket_envoi.date_created}}</span>
              <p class="card-description"> {{ticket_envoi.description}} </p>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        {% comment %} <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-title">Tickets Consommés</h4>
            <div class="template-demo">
              {% if tickets_conso %}
              {% for ticket_conso in tickets_conso %}
              <span class="font-weight-normal text-info" style="font-size:12px;"> {{ticket_conso.date}}</span>
              <p class="card-description"> {{ticket_conso.description}} </p>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% endblock %}