{% extends 'personnel_base.html' %}
{% load static %}


{% block navbar %}

<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="#"><img src="{% static "images/uadb.png" %}" class="mr-2"
                alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="#"><img src="{% static "images/uadb.png" %}"
                alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                        <span class="input-group-text" id="search">
                            <!--i class="icon-search"></i-->
                        </span>
                    </div>
                    <!--input type="text" class="form-control" id="navbar-search-input" placeholder="Recherche" aria-label="search" aria-describedby="search"-->
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img src="{% static "images/Avatar.jpg" %}" alt="profile" />
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a href="#" class="dropdown-item">
                        <i class="fa-solid fa-user text-primary"></i>
                        <span class="ml-2">Profil</span>
                    </a>
                    <a href="{% url 'personnel-deconnexion' %}" class="dropdown-item z-50">
                        <i class="ti-power-off text-primary"></i>
                        Déconnecter
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>

{% endblock %}



{% block contenu %}
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Diagramme à barres (Journée)</h4>
          <p ><span class="font-weight-lighter text-muted">Montant total</span> : <span class="text-info"><strong>{{montant_today}}</strong> cfa</span></p>
          <div>
            <canvas id="myBarChart"height="400"width="600"></canvas>
          </div>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const dataBar = {
              labels: ['Tickets_Petit_Dej', 'Tickets_Repas'],
              datasets: [{
                label: "Achetés dans la journée",
                data: [{{ticket_pdej_achat_today}},{{ticket_dej_achat_today}}],
                
                backgroundColor: {{colors|safe}},
                borderColor: {{colors|safe}},
                borderWidth: 1
  
              }]
            };
          
            const configBar = {
              type: 'bar',
              data: dataBar,
              options: {
                cutoutPercentage: 0,
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }, 
                barPercentage: 0.7,   
              }
            };
            const ctxBar = document.getElementById('myBarChart').getContext('2d');
            new Chart(ctxBar, configBar);
          </script>
        </div>
        <div class="d-flex justify-content-between">
          <p class="pl-3"><span class="font-weight-lighter text-muted">Petits_Dej</span> : <span class="text-info"><strong>{{montant_pdej_today}}</strong> cfa</span></p>
          <p class="pr-3"><span class="font-weight-lighter text-muted">Repas</span> : <span class="text-info"><strong>{{montant_dej_today}}</strong> cfa</span></p>
        </div>
        <p class="pl-3"> Ce diagramme illustre la <span class="text-info">répartition quotidienne des achats</span> de divers tickets universitaires.</p>
      </div>
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Graphe Lineaire (Semaine)</h4>
          <p ><span class="font-weight-lighter text-muted">Montant total</span> : <span class="text-info"><strong>{{montant_week}}</strong> cfa</span></p>
          <div>
            <canvas id="myLineChart" height="400"width="600"></canvas>
          </div>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>
            const dataLine = {
              labels: ['Tickets_Petit_Dej', 'Tickets_Repas'],
              datasets: [{
                label: 'Achetés dans la semaine',
                data: [{{ticket_pdej_achat_week}},{{ticket_dej_achat_week}}],
                fill: false,
                //borderColor: {{colors|safe}},
                tension: 0.4 
  
              }]
            };
          
            const configLine = {
              type: 'line',
              data: dataLine,
              options: {
                responsive: true,  
              }
              
            };
            const ctxLine = document.getElementById('myLineChart').getContext('2d');
            new Chart(ctxLine, configLine);
          </script>
        </div>
        <div class="d-flex justify-content-between">
          <p class="pl-3"><span class="font-weight-lighter text-muted">Petits_Dej</span> : <span class="text-info"><strong>{{montant_pdej_week}}</strong> cfa</span></p>
          <p class="pr-3"><span class="font-weight-lighter text-muted">Repas</span> : <span class="text-info"><strong>{{montant_dej_week}}</strong> cfa</span></p>
        </div>
        <p class="pl-3"> Ce diagramme illustre la <span class="text-info">répartition des achats hebdomadaires</span> de divers tickets universitaires.</p>
      </div>
    </div>
</div>

<div class="row mb-6 pb-10">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">graphique en secteurs (Mois)</h4>
        <p ><span class="font-weight-lighter text-muted">Montant total</span> : <span class="text-info"><strong>{{montant_mois}}</strong> cfa</span></p>
        <div>
          <canvas id="myDoughnutChart" height="400"width="600"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const dataDoughnut = {
            labels: ['Tickets_Petit_Dej', 'Tickets_Repas'],
            datasets: [{
              label: 'Achetés durant le mois',
              data: [{{ticket_pdej_achat_mois}},{{ticket_dej_achat_mois}}],
              backgroundColor: [
                                '#248AFD', // info
                                '#4B49AC', // primary
                              ],
              hoverOffset: 4

            }]
          };
        
          const configDoughnut = {
            type: 'doughnut',
            data: dataDoughnut,
            options: {
              cutoutPercentage: 0,
              scales: {
                x: {
                  display: false // Désactiver l'axe x
                },
                y: {
                  display: false // Désactiver l'axe y
                }
              }
            }  
          };
          const ctxDoughnut = document.getElementById('myDoughnutChart').getContext('2d');
          new Chart(ctxDoughnut, configDoughnut);
        </script>
      </div>
      <div class="d-flex justify-content-between">
        <p class="pl-3"><span class="font-weight-lighter text-muted">Petits_Dej</span> : <span class="text-info"><strong>{{montant_pdej_mois}}</strong> cfa</span></p>
        <p class="pr-3"><span class="font-weight-lighter text-muted">Repas</span> : <span class="text-info"><strong>{{montant_dej_mois}}</strong> cfa</span></p>
      </div>
      <p class="pl-3"> Ce graphique présente la <span class="text-info">répartition mensuelle des achats</span> de divers tickets universitaires.</p>
    </div>
  </div>

  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <h4 class="card-title">Diagramme à barres (Année)</h4>
        <p ><span class="font-weight-lighter text-muted">Montant total</span> : <span class="text-info"><strong>{{montant_annee}}</strong> cfa</span></p>
        <div>
          <canvas id="mySecondBarChart" height="650"width="700"></canvas>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
          const dataSecondBar = {
            labels: ['Tickets_Petit_Dej', 'Tickets_Repas'],
            datasets: [{
              label: "Achetés dans l'année",
              data: [{{ticket_pdej_achat_annee}},{{ticket_dej_achat_annee}}],
              
              backgroundColor: {{color|safe}},
              borderColor: {{color|safe}},
              borderWidth: 1

            }]
          };
        
          const configSecondBar = {
            type: 'bar',
            data: dataSecondBar,
            options: {
              cutoutPercentage: 0,
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          };
          const ctxSecondBar = document.getElementById('mySecondBarChart').getContext('2d');
          new Chart(ctxSecondBar, configSecondBar);
        </script>
      </div>
      <div class="d-flex justify-content-between">
        <p class="pl-3"><span class="font-weight-lighter text-muted">Petits_Dej</span> : <span class="text-info"><strong>{{montant_pdej_annee}}</strong> cfa</span></p>
        <p class="pr-3"><span class="font-weight-lighter text-muted">Repas</span> : <span class="text-info"><strong>{{montant_dej_annee}}</strong> cfa</span></p>
      </div>
      <p class="pl-3"> Cette représentation graphique met en lumière la <span class="text-info">répartition annuelle des achats</span> de différents tickets universitaires.</p>
    </div>
  </div>
</div>

{% endblock %}