

#Accueil:focus,
#Accueil:hover,
#transaction:focus,
#transaction:hover {
  background-color: #4B49AC;
  color: #ffff;
}
/* .nav-item > a.nav-link:focus,
.nav-item > a.nav-link:hover {
  background-color: #4B49AC;
  color: #ffffff;
} */


